name: alignn-action

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8,3.9]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install numpy
        python setup.py install

    - name: Lint
      run: |
        pip install flake8 pytest pycodestyle pydocstyle
        pycodestyle --ignore E203,W503 --exclude=tests alignn
        pydocstyle --match-dir=core --match-dir=io --match-dir=io --match-dir=ai --match-dir=analysis --match-dir=db --match-dir=tasks --count alignn
        flake8 --ignore E203,W503 --exclude=tests --statistics --count --exit-zero alignn
    - name: Test with pytest
      run: |
        export DGLBACKEND=pytorch
        export CUDA_VISIBLE_DEVICES="-1"
        pip install dgl-cu111
        pip install flake8 pytest pycodestyle pydocstyle codecov pytest-cov coverage 
        #pip uninstall -y torch nvidia-cublas-cu11 nvidia-cuda-nvrtc-cu11 nvidia-cuda-runtime-cu11 nvidia-cudnn-cu11
        #conda install -y  pytorch-cpu
        echo 'PIP freeze'
        pip freeze
        coverage run -m pytest
        coverage report -m
        codecov
        codecov --token="85bd9c5d-9e55-4f6d-bd69-350ee5e3bb41"
        echo 'Train folder'
        train_folder.py -h 
        echo 'Pre-trained models'
        pretrained.py -h
        #train_folder.py --root_dir "alignn/examples/sample_data" --config "alignn/examples/sample_data/config_example.json" --output_dir=temp
